/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
         combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        
            combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };
        
                    combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };
        
                           combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };
        
        
           combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };
        

        
    };

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q &kp W &kp E &kp R &kp T 						&kp Y &kp U  &kp I    &kp O   &mt BSPC P 
		&kp A &kp S &kp D &kp F &kp G 			        	        &kp H &kp J &kp K &kp L &kp SEMI
		&mt LCTL Z &kp X &kp C &kp V &kp B			                &kp N &kp M  &kp CMMA &kp DOT &kp FSLH
          				&mo 1 &kp LSHFT  				&kp SPC &mo 2 
		>;
		};

       		left_layer {
		bindings = <
		&kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5		&kp NUM_6 &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0 
		&kp TAB    &kp ESC    &kp LSHFT      &kp C_VOL_UP     &kp C_VOL_DN 	&kp LEFT &kp UP  &kp DOWN &kp RIGHT  &kp SQT 
		&kp F1    &kp F2 	&kp F3 &kp F4  &kp F5                   	&kp F6 &kp F7 &kp F8 &kp F9  &kp F10 
					    &mo 1  &kp LGUI  					&kp BSPC &mo 2 
		>;
		};
		
		right_layer {
		bindings = <
		&kp EXCL  &kp AT &kp HASH  &kp DLLR  &kp PRCT    			&kp CARET  &kp AMPS &kp STAR &kp LPAR &kp RPAR 
		&kp CLCK  &kp DOT  &kp GRAVE  &kp COLN  &kp SCLN 			&kp MINUS &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
		&kp DEL  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_CLR   &kp LCTL    		&kp UNDER &kp LEFT  &kp LBRC &kp RBRC  &bt BT_SEL 2
					  &mo 3 &kp ENTER  				&kp RALT  &mo 2 
		>;
		};	
		
		tri_layer {
		bindings = <
		&kp NUM_1  &kp NUM_2    &kp NUM_3    &kp NUM_4    &kp NUM_5 			&trans &trans   &trans   &trans  &trans
		&kp F1 &kp F2 &kp F3 &kp F4 &kp F5  						&trans &kp PG_UP  &kp K_VOL_UP &kp K_MUTE &trans 
		&bt BT_CLR  &bt BT_NXT &bt BT_PRV &kp F6 &kp F7   				&trans &kp PG_DN  &kp K_VOL_DN  &trans &kp AT_SIGN   
					 &trans &trans  					&trans &trans 
		>;
		};	
        
	};
};
